{% extends 'base.menu.html.twig' %}

{% block title %}
Incription genre Intrasso
{% endblock %}

{% block contenu %}
<container>

    {% for flashError in app.flashes('success') %}
        <div class="alert alert alert-success" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="text-center">
        <h2>Inscription Genre Intrasso</h2>
    </div>

   {# Form #}
    <main role="main">
        <div class="lead mx-auto" style="width: 800px;">
            <div class="page-label">
                {{ form_start(form) }}
                    
                    <div class="form-group row" id="label">
                        {{ form_label(form.label, 'Intitulé*', {'label_attr': {'class': 'col-2 col-form-label ' ~ (form.label.vars.valid ? '' : 'form-label-error') }}) }}
                        <div class="col-10">
                            {{ form_widget(form.label, {'attr': {'class': 'form-control ' ~ (form.label.vars.valid ? '' : 'form-control-error')}}) }}
                            <div class="form-errors">
                                {{ form_errors(form.label) }}
                            </div>
                        </div>
                    </div>

                    {# <div class="form-group row" id="natures">
                        {{ form_label(form.natures, 'Intitulé*', {'natures_attr': {'class': 'col-2 col-form-natures ' ~ (form.natures.vars.valid ? '' : 'form-natures-error') }}) }}
                        <div class="col-10">
                            {{ form_widget(form.natures, {'attr': {'class': 'form-control ' ~ (form.natures.vars.valid ? '' : 'form-control-error')}}) }}
                            <div class="form-errors">
                                {{ form_errors(form.natures) }}
                            </div>
                        </div>
                    </div> #}
                  
                    <!--VALIDATION-->
                    <div class="form-group row" role="toolbar">
                        <div class="col-12">
                            <div class="float-left">
                                <a href="{{ path('accueil') }}" type="button" class="btn btn-secondary">Annuler</a>
                            </div>
                            <div class="float-right">
                                {% block boutons %}
                                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </main>
</container>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# <script src="{{ asset('assets/js/menu.js') }}"></script> #}
{% endblock %}
