{% extends 'base.menu.html.twig' %}

{% block title %}
Liste des natures d'INTRASSO
{% endblock %}

{% block contenu %}
        <div class="form-group row">
            <h5 class="form-group col-10">Liste des natures</h5>
            <a href="{{ path('gestion-nature-creer') }}"
            class="btn btn-primary  col-2">Créer un nature</a>
        </div>

        {# Form #}
        {{ form_start(form) }}

            <div class="form-group row" id="label">
                {{ form_label(form.label, 'Intitulé*', {'label_attr': {'class': 'col-2 col-form-label '}}) }}
                <div class="col-4">
                    {{ form_widget(form.label, {'attr': {'class': 'form-control select-picker'}}) }}
                    <div class="form-errors">
                        {{ form_errors(form.label) }}
                    </div>
                </div>
            </div>

            <div class="form-group row" id="genres">
                {{ form_label(form.genres, 'Genres*', {'label_attr': {'class': 'col-2 col-form-label '}}) }}
                <div class="col-4">
                    {{ form_widget(form.genres, {'attr': {'class': 'form-control select-picker'}}) }}
                    <div class="form-errors">
                        {{ form_errors(form.genres) }}
                    </div>
                </div>
            </div>

            <div class="form-group row" role="toolbar">
                <div class="col-12">
                    <div class="float-left">
                        <a href="{{ path('accueil') }}" type="button" class="btn btn-secondary">Annuler</a>
                    </div>

                    <div class="float-right">
                        {% block boutons %}
                            {# {{ form_widget(form.reset, {'attr': {'class': 'btn btn-secondary'}}) }} #}
                            <button type="submit" class="btn btn-primary recherche-nature">Recherche</button>
                        {% endblock %}
                    </div>
                </div>
            </div>

        {{ form_end(form) }}

    {# Tableau des résultats #}
    <div class="page-list">
        <table id="tableau-resultats" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Genres</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4" class="table-empty" style="display: none;">Aucun résultat n'a été trouvé.</td>
                </tr>
                <tr>
                    <td colspan="4" class="table-loading" style="display: none;">Chargement des données en cours ...</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/form.js') }}"></script>
    <script src="{{ asset('assets/js/nature/listing.js') }}" type="text/javascript"></script>
{% endblock %}
